$primary-background: #f9f9f9;
$secondary-background: #fff;

*{
  box-sizing: border-box;
}

.App {
  height: 100%;
  min-height: 100vh;
  background-color: $primary-background;
}

.App--padding{
  padding: 60px 0;
}

.container{
  width: 40em;
  max-width: 100%;
  margin: auto;
}

.navbar{
  width: 100%;
  padding: 12px 15px;
  box-shadow:  0 0 5px #eee;
  background-color: #fff;

  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__logo{
    width: 95px;
  }

  &__search{
    height: 35px;
    padding: 0;
    display: flex;
    align-items: center;
  }

  &__input{
    width: 380px;
    height: 100%;
    padding: 15px;
    color: #111111;
    border-radius: 0;
    outline: none;
    font-size: 16px;
    border: 1px solid #999;

    &:focus{
      border-color: #167ac6;
    }
  }
  
  &__button{
    width: 60px;
    height: 100%;
    cursor: pointer;
    border: 1px solid #999;
    background-color: $primary-background;

    .navbar__icon{
      display: block;
      margin: auto;
      height: 70%;
      width: 70%;
    }
  }
  
}

.navbar--fixed{
  position: fixed;
  top: 0;
  left: 0;
}

.list{
  margin-top: 20px;

  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
  }

  &__contents{
    padding-left: 15px;
  }

  &__img{
    width: 280px;
    object-fit: cover;
  }

  &__title{
    font-size: 17px;
    margin: 0;
  }

  &__channel-title{
    font-size: 14px;
  }
  
  &__description{
    font-size: 15px;
  }

  &__link{
    color: #222;
    text-decoration: none;

    &:hover{
      color: #555;
    }
  }

  .item__channel{
    .list__thumbnail{
      width: 280px;
      
      .list__link{
        display: block;
        text-align: center;
      }
    }

    .list__contents{
      width: calc(100% - 295px);
    }

    .list__img{
      width: 150px;
      height: 150px;
      margin: auto;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 5px 0;
  
  &.container{
    border-bottom: 1px solid #e0e0e0;
  }

  &__results-count{
    color: #444;
    font-size: 16px;
  }

  .filter{
    position: relative;

    *{
      user-select: none;
    }

    &__button{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
    }

    &__icon{
      height: 20px;
      margin: 0 5px;
      fill: #444;
    }

    &__title{
      color: #444;
      font-size: 16px;
      text-transform: uppercase;
    }

    &__list{
      width: 200px;
      position: absolute;
      right: 0;
      padding: 0;
      margin: 0;
      z-index: 2;
      list-style: none;
      border: 1px solid #eee;
      background-color: $secondary-background;
    }

    &__item{
      padding: 5px 15px;
      cursor: pointer;

      &:hover{
        background-color: $primary-background;
      }
    }

    &__item--selected,
    &__item--selected:hover{
      color: #fff;
      background-color: #2d3436;
    }


  }
}

@media (max-width: 768px) {
  .App--padding{
    padding-top: 0;
  }

  .container{
    width: 100%;
    padding: 0 15px;
  }

  .loading{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #fff;

    &__icon{
      margin-bottom: 15px;
      fill: #999;
    }

    &__title{
      font-size: 18px;
    }

  }

  .navbar{
    position: relative;
    z-index: 12;
    padding: 12px 0;
    background-color: #f00;

    &__content{
      justify-content: center;
    }

    &__logo{
      width: 40px;
      padding-right: 10px;
    }

    &__search{
      width: 100%; 
      height: 30px;
    }

    &__input{
      width: 100%;
      padding: 0 10px;
    }

    &__button{
      width: 50px;
      border: none;
      background-color: #f00;
    }

    &__icon{
      height: 80%;
      width: 80%;
      fill: #fff;
    }

    &__toggle{
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title{
      width: 100%;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .header{
    margin-top: 15px;
  }

  .filter{
    &__list{
      right: auto;
      left: 0;
    }

    &__item{
      font-size: 14px;
    }

    &__item--selected{
      background-color: #f00;
    }
  }

  .list{
    &__thumbnail,
    &__contents{
      width: 50%;
    }

    .item__video{
      align-items: flex-start;
    }

    .item__channel{
      .list__thumbnail{
        width: 50%;
      }

      .list__contents{
        width: 100%;
      }
    }

    &__img{
      width: 100%;
    }
    
    &__title{
      font-size: 14px;
    }

  }
}
